<div *ngIf="(userLoginOn && !editMode) || !userLoginOn" class="div-todo">
    <div class="data-container">
        <div class="span-container">
            <p><b> Nombre: </b> </p><span><p class="inner-p">{{ user?.firstname }} </p></span>
        </div>
        <div class="span-container">
            <p><b> Apellido: </b> </p><span><p class="inner-p"> {{ user?.lastname }}</p></span>
        </div>
        <div class="span-container">
            <p><b> Email: </b> </p><span> <p class="inner-p">{{ user?.email }}</p></span>
        </div>
        <div class="span-container">
            <p><b> Username: </b> </p><span><p class="inner-p"> {{ user?.username }}</p></span>
        </div>
    </div>
    
    <button *ngIf="userLoginOn && !editMode" (click)="editMode=true" class="btn btn-dark">
        <img src="https://cdn.icon-icons.com/icons2/1744/PNG/512/3643749-edit-pen-pencil-write-writing_113397.png" width="8%" alt="editar" />    Editar Datos Personales
    </button>
</div>


<div class="form-container" style="margin-top: 3%;">
<form *ngIf="userLoginOn && editMode" [formGroup]="registerForm" >
    <div class="form-group row">
        <label for="inputFirstName" class="col-sm-1 col-form-label">Nombre</label>
        <div class="col-sm-11">
        <input type="text" formControlName="firstname" class="form-control" id="inputFirstName">
        
            <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="text-danger">
                <div *ngIf="firstname.errors?.['required']">
                    El Nombre es requerido.
                </div>

            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputLasttName" class="col-sm-1 col-form-label">Apellido</label>
        <div class="col-sm-11">
        <input type="text" formControlName="lastname" class="form-control" id="inputLasttName">
        <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="text-danger">
            <div *ngIf="lastname.errors?.['required']">
                El Apellido es requerido.
            </div>
        </div>
    </div>
    </div>
    <div class="form-group row  " >
        <label for="inputCountry" class="col-sm-1 col-form-label">Email</label>
        <div class="col-sm-11">
            <input type="text" formControlName="email" class="form-control" id="inputCountry">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                <div *ngIf="email.errors?.['required']">
                    El Email es requerido.
                </div>
            </div>
            
    </div>
    </div>
    <!--<div class="form-group row">
        <label for="inputCountry" class="col-sm-1 col-form-label">Username</label>
        <div class="col-sm-11">
            <input type="text" formControlName="username" class="form-control" id="inputCountry">
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger">
                <div *ngIf="username.errors?.['required']">
                    El username es requerido.
                </div>
            </div>
        </div>
    </div>-->
    <div class="col-sm-12 mt-3">
    <button type="submit" (click)="savePersonalDetailsData()"  class="btn btn-dark mt-3">Guardar</button>
    <a class="btn btn-dark mt-3" (click)="editMode=false">Cancelar</a>
</div>
</form>

</div>
