.form-control {
    height: 4rem;
    width: 36.8rem;
    border: 3px solid #463b3b;
    border-radius: 0.5rem;
    font-size: 1.2em;
    padding: 0.5rem 1rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3); /* Añade la sombra a todos los elementos */
    

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
h2{
    font-family: "Brush Script MT", cursive; 
    color: #FF7171;
    font-size: 3em;
    margin-bottom: 2rem;
}

.btn-primary{
    height: 4rem; /* Establece la misma altura que los inputs de texto */
    margin-right: 0.75rem;
    width: 18rem;
    background-color: #FFB6C1; /* Color de fondo */
    color: #463b3b; /* Color del texto */
    border: 2px solid #463b3b;
    border-radius: 0.5rem; /* Borde redondeado */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
    font-family: "Brush Script MT", cursive;
    font-size: x-large;
    margin-left: 25%;
    margin-top: 7%;
}

.btn-primary:hover {
    background-color: #F42854; /* Cambia el color de fondo al pasar el cursor */
    color: #ffffff; /* Cambia el color del texto al pasar el cursor */
    border-color: #463b3b;
}